apiVersion: v1
kind: PersistentVolume
metadata:
  name: ${NAMESPACE}-pv
  namespace: ${NAMESPACE}
spec:
  capacity:
    # EFS 是动态拓展的存储，所以这里写的数值并不实际影响真正的存储的大小，但我还是写的大一点
    storage: 2000Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: jenkins-storageclass
  csi:
    driver: efs.csi.aws.com
    volumeHandle: ${EFS}
